.animated__dark-background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #0b1528;
  position: relative;
}
.animated-title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 18%;
  color: white;
}

.animated-container {
  top: 15%;
  position: absolute;
  width: 1300px;
  height: 800px;
}

.animated__svg-background {
  background: #0b1528;
}

.animated__text {
  fill: #ffffff;
  font-size: 24px;
  font-weight: normal;
  text-anchor: middle;
}

.animated__circle {
  fill: #b78d5f;
}

.animated__line {
  stroke: #b78d5f;
  stroke-dasharray: 3.5;
}

.animated__plane {
  fill: #be9363;
}
