.services__section {
  padding: 20px;
  background-color: #0b1528;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
}

.services__title {
  font-family: "Cormorant", serif;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  line-height: 104.5%;
  margin-top: 4.86%;
  margin-bottom: 6.04%;
  margin-left: 15.5%;
}

.services__photo-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.services__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  width: 24.8%;
  position: relative;
  
}
.servicesorder-button1 {
  position: absolute;
  background-color: #b78d5f;
  bottom: -20%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 79%);
  height: 49px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.servicesorder-button1 svg {
  width: 22px;
  height: 22px;
  fill: white;
  vertical-align: middle;
}
.servicesorder-button1::before {
  content: "ADD";
  position: absolute;
  top: 20%;
  left: 45%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
  opacity: 0;
}

.services__wrapper:hover .servicesorder-button1 svg {
  width: 10px;
  position: absolute;
  top: 30%;
  left: 62%;
}

.services__wrapper:hover .servicesorder-button1::before {
  opacity: 1;
}
.servicesorder-button1:hover {
  background-color: #b78d5f;
}

.servicesorder-button2 {
  position: absolute;
  background-color: #b78d5f;
  bottom: -20%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 79%);
  height: 49px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.servicesorder-button2 svg {
  width: 22px;
  height: 22px;
  fill: white;
  vertical-align: middle;
}
.servicesorder-button2::before {
  content: "ADD";
  position: absolute;
  top: 20%;
  left: 45%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
  opacity: 0;
}

.services__wrapper:hover .servicesorder-button2 svg {
  width: 10px;
  position: absolute;
  top: 30%;
  left: 62%;
}

.services__wrapper:hover .servicesorder-button2::before {
  opacity: 1;
}
.servicesorder-button2:hover {
  background-color: #b78d5f;
}

.servicesorder-button3 {
  position: absolute;
  background-color: #b78d5f;
  bottom: -20%;
  right: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 79%);
  height: 49px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.servicesorder-button3 svg {
  width: 22px;
  height: 22px;
  fill: white;
  vertical-align: middle;
}
.servicesorder-button3::before {
  content: "ADD";
  position: absolute;
  top: 20%;
  left: 45%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
  opacity: 0;
}

.services__wrapper:hover .servicesorder-button3 svg {
  width: 10px;
  position: absolute;
  top: 30%;
  left: 62%;
}

.services__wrapper:hover .servicesorder-button3::before {
  opacity: 1;
}
.servicesorder-button3:hover {
  background-color: #b78d5f;
}

.services__wrapper:hover .servicesorder-button1 {
  width: calc(95%);
}
.services__wrapper:hover .servicesorder-button2 {
  width: calc(100%);
}
.services__wrapper:hover .servicesorder-button3 {
  width: calc(100%);
}

.services__photo {
  position: relative;
  width: 100%;
  height: 425px;
  background-size: cover;
  background-position: center;
  overflow: inherit;
}

.services__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.services__overlay p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.services__service {
  font-family: "Cormorant", serif;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 25%;
}

.services__photo1 {
  background-image: url("../../images/Rectangle_2.png");
  margin-right: 10%;
}

.services__photo2 {
  background-image: url("../../images/Rectangle_3.png");
}

.services__photo3 {
  background-image: url("../../images/Rectangle_1.png");
  margin-left: 10%;
}

.servicesorder__section {
  padding: 20px;
  background-color: #0b1528;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}


.servicesorders__modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); 
  width: 637px;
  height: 637px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.servicesorders__modal-content {
  position: relative;
  width: 300px;
  height: 443px;

  align-self: center;
}

.servicesorders__modal-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.services__overlay_modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(225, 225, 225, 0.88); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: white;
  text-align: center;
}

.services__overlay_modal p {
  font-size: 1rem;
  line-height: 1.5;
}

.servicesorders__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__overlay_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
  width: 57px;
  height: 57px;
  background-color: #0b1528;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.circle svg {
  width: 23px;
  height: 23px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
}

.button-my-orders {
  width: 298px;
  height: 41px;
  background-color: #0b1528;
  color: #ffffff;
  border: 1px solid #b78d5f;
  border-radius: 3px;
  margin-top: 20px;
  font-family: "Cormorant", serif;
  font-style: bold;
  font-size: 20px;
  line-height: 16.7%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; 
}

.button-my-orders:hover {
  background-color: #ffffff;
  color: #0b1528;
}
